---
import { BASE_URL, START_DATE, END_DATE } from "@/scripts/api";

import { getHistorical } from "@/lib/utils";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Chart } from "@/components/Chart";

import type { HistoricalResponse } from "@/types";

const response = await fetch(
  `${BASE_URL}/timeseries?api_key=${import.meta.env.PUBLIC_API_KEY}&symbols=COP&start_date=${START_DATE}&end_date=${END_DATE}`
);

const data = (await response.json()) as HistoricalResponse;

const historical = getHistorical(data.response, "COP");
---

<Card>
  <CardHeader>
    <CardTitle>Exchange Rates</CardTitle>
    <CardDescription>Latest exchange rates.</CardDescription>
  </CardHeader>
  <CardContent>
    <Chart client:load historical={historical} />
  </CardContent>
  <CardFooter>
    <p class="text-xs">Card Footer</p>
  </CardFooter>
</Card>
